@model Fitbook.Models.CustomRecipe

<h1>@Model.CustomRecipeName</h1>
<p>Recipe: @Model.Description</p>
<p>Calories per serving: @Model.Calories</p>
<p>Carbohydrates per serving: @Model.Carbohydrates</p>
<p>Protein per serving: @Model.Protein</p>
<p>Fat per serving: @Model.Fat</p>
<a asp-action="Index">Back</a>
