@model Fitbook.ViewModel.CustomRecipeIndexViewModel
@{
}

@* Displays all recipes from database *@

    <div>
        @*@foreach (CustomRecipe customRecipe in Model.customRecipes)
        {
            <div>
                <input type="hidden" value="@customRecipe.CustomRecipeId" />
                <h3>@customRecipe.CustomRecipeName</h3>
                <p>Carbohydrates per serving: @customRecipe.Carbohydrates</p>
                <p>Protein per serving: @customRecipe.Protein</p>
                <p>Fat per serving: @customRecipe.Fat</p>
                <p>Calories per serving: @customRecipe.Calories</p>
                <p></p>
                <hr />
            </div>
        }*@

        @for (int i = 0; i < Model.customRecipes.Count; i++)
        {
            <h3>@Model.customRecipes[i].CustomRecipeName</h3>
            <p>Carbohydrates per serving: @Model.customRecipes[i].Carbohydrates</p>
            <p>Protein per serving: @Model.customRecipes[i].Protein</p>
            <p>Fat per serving: @Model.customRecipes[i].Fat</p>
            <p>Calories per serving: @Model.customRecipes[i].Calories</p>
            <h6><i>By @Model.fitbookUsers[i].FirstName @Model.fitbookUsers[i].LastName</i></h6>
            <a asp-action="Display" asp-route-id="@Model.customRecipes[i].CustomRecipeId" class="btn btn-info">View</a>
            <hr />
        }
    </div>

<a asp-action="AddRecipe">Add Custom Recipe</a>
